@import '../../../styles/mixin.scss';
@import '../../../styles/color.scss';

.cms-pager {
  button {
    border: none;
    background-color: transparent;
    @include hoverColor(#909090);
    outline: none;
    cursor: pointer;
    margin: 0 7px;
    font-weight: 15px;
  }

  .cms-pager__page {
    &.active { 
      @include hoverColor($color-primary);
      font-weight: bold; 
    }
  }

  &.center {
    width: 100%;
    text-align: center;
  }
}