.cms-text-input {
  padding: 5.5px 0;
  box-sizing: border-box;
  display: flex;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  align-items: center;
  background-color: #fff; }
  .cms-text-input .cms-text-input__input {
    flex: 1;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0 10px;
    outline: none; }
  .cms-text-input.file {
    cursor: pointer; }
    .cms-text-input.file .cms-text-input__input {
      display: none; }
    .cms-text-input.file .file-name {
      flex: 1;
      padding: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis; }
  .cms-text-input.with-btn {
    padding-right: 8px; }
  .cms-text-input.focused {
    border-color: #666 !important; }
