.cms-row {
  display: flex;
  margin-bottom: 25px;

  .cms-row__title {
    margin: 0;
    line-height: 49px;
    width: 153px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
  }

  .cms-row__content {
    flex: 1;
  }
}