.cms-box {
  background-color: #EEEEEE;
  border-radius: 8px;
  padding: 25px;
  box-sizing: border-box; }
  .cms-box.content {
    padding: 30px; }
    .cms-box.content.right-pad {
      padding-right: 130px; }
