.image-picker {
  width: 270px;
  height: 270px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  &.gray { background-color: #EEEEEE; color: #A2A2A2; }
  &.white { background-color: #fff; color: #EEEEEE; }

  .image-picker__img {
    width: 100%;
    height: 100%;
  }

  .image-picker__plus {
    position: absolute;
    font-size: 150px;
    font-weight: bold;
  }

  .iamge-picker__input {
    display: none;
  }
}