.user-statistics {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;

  .user-statistics__wrapper {
    padding: 10px 20px;
  
    &.top {
      flex: 1;
    }

    &.bottom {
      .user-stat-row {
        margin-bottom: 0;
      }
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #BEBEBE;
    margin: 10px 0;
  }

  //UserStatRow
  .user-stat-row {
    display: flex;
    margin-bottom: 23px;
    color: #707070;
    font-size: 18px;

    .user-stat-row__title {
      flex: 1;
    }
  }
}